* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
}

.coming-soon {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.day,
.hour,
.minute,
.second {
  font-size: 2rem;
}

img {
  width: 500px;
  height: 500px;
}
